#header{
    height: 20vh;
    background-color:rgb(107, 142, 35);
    display: flex;
    flex-wrap: wrap;
}
#brand{
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
}
#logopic{
    height: 15vh;
    margin-left: 1vw;
    margin-top: 1vw;
}
#name{
    padding: 1vw;
}
#name h1{
    /* height: 8vh; */
    font-size: 6vh;
    margin-bottom: 0;
    margin-top: 2vh;
    background: -webkit-linear-gradient(#eee, rgb(222, 242, 44));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
    
}
h2{
    margin-top: 0;
    padding-top: 1px;
    margin-bottom: 1px;
}
#content{
    background-color: #D4D6CF;
    margin-top: 0;
    position: relative;
    padding-top: 10vh;
    height: 55vh;

}
#middle_container{
    width: 50vw;
    height: 25vh;
    background-color: rgb(251, 251, 250);
    box-shadow: inset 0 0 7px 4px rgba(46, 65, 10, 0.5);
    margin-left: 25vw; 
    position: relative;
    border-radius: 2rem;
    text-align: center;

    
}
#user{
    margin-left: 45vw;

}
#user h2{
    font-size: 5vh;
    color: rgb(222, 242, 44);
    text-transform: uppercase;
    
}
#expo a {
    text-decoration: none;
    font-size: 4vh;
    color: olive;
    font-weight: bold;
    
}
#expo a:hover{
    background-color: #D4D6CF;
    color: #013A20;
}
#text h1{
    color: #013A20;
    font-size: 8vh;
    padding-top:15px ;
    /* margin-left: 9vw; */
       
}
#loginbox h3{
    font-size: 3vh;
}
#loginbox{
    margin-top: 1vh ;
    margin-left: 8vw;
}
#loginbox button{
    padding: 1vh 1vw 1vh 1vw;
    font-size: 2vh;
    margin-block-end: 4vw;
    border-radius: 2rem;
    width: 7vw;
    background-color: olivedrab;
    
}
#loginbox button:hover{
    background-color: yellowgreen;
    font-weight: bold;
}
#footer{
    /* margin-top: 28vh; */
    height: 11vh;
    background-color: #013A20;
    text-align: center;
    padding-top: 2vh;
}
#footer button{
    color: #536F16;
    border-radius: 2rem;
    border-color: #D4D6CF;
    margin: 1vw;
    font-size: 3vh;
    padding: 5px;
}
#footer button:hover{
    background-color: yellow;
}